<div class="panel panel-default">


	<div class="panel-heading">
		<span class="label label-primary">Home Page Instellingen</span>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 100.3333%; height: 141px">
					<span class="label label-info">Extra Veergave</span>
					<div class="panel-body" style="width: 100.3333%; height: 141px">
						<div class="checkbox">
							<label style="width: 74%;">Leeftijd</label> <input
								type="checkbox" value="">
						</div>
						<div class="checkbox">
							<label style="width: 74%;">Telefoon</label> <input
								type="checkbox" value="">
						</div>
						<div class="checkbox">
							<label style="width: 74%;">Ziektedagen</label> <input
								type="checkbox" value="">
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 100.3333%; height: 141px">
					<span class="label label-info">Signalering Weergave</span>
					<div class="panel-body" style="width: 100.3333%; height: 141px">
						<div class="container">
							<table>
								<tbody>
									<tr>
										<td width="1%">
											<div class="checkbox">
												<label><input type="checkbox" value="">CV</label>
											</div>
										</td>
										<td width="1%">
											<div class="checkbox">
												<label><input type="checkbox" value="">CV
													Passport</label>
											</div>
										</td>
										<td width="8%">

											<div class="form-group">
												<input type="checkbox" value=""> <input type="text">
											</div>

										</td>
									</tr>


									<tr>
										<td width="1%">
											<div class="checkbox">
												<label><input type="checkbox" value="">FV</label>
											</div>
										</td>
										<td width="1%">
											<div class="checkbox">
												<label><input type="checkbox" value="">PG</label>
											</div>
										</td>
										<td width="1%">
											<div class="checkbox">
												<label><input type="checkbox" value="">KG</label>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>



		</div>


		<div class="row">

			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 100.3333%; height: 106px">
					<div class="panel-body" style="width: 100.3333%; height: 106px">
						<div class="form-group">
							<label>Aantal Regels</label> <input type="text"
								class="form-control">
						</div>
					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 100.3333%; height: 106px">
					<span class="label label-info">Sorteervolgorde Hoofdscherm</span>
					<div class="panel-body" style="width: 100.3333%; height: 106px">
						<div class="radio-inline">
							<label><input type="radio" value="">Voornaam</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" value="">Achternaam</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" value="">Personeelsnummer</label>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="panel panel-default">


	<div class="panel-heading">
		<span class="label label-primary">Employee Viewer Instellingen</span>
	</div>
	<div class="panel-body">


		<div class="row">
			<div class="col-md-6">

				<div class="panel panel-default"
					style="width: 100.3333%; height: 316px">
					<span class="label label-info">Gesprekken</span>
					<div class="panel-body" style="width: 100.3333%; height: 316px">

						<div class="panel panel-default">
							<span class="label label-info">Rapporten</span> <label></label>
							<div class="form-group">
								<label style="width: 46%;">Per Periode(dagen)</label> <input
									type="text" class=""> <input type="radio" value="">
							</div>
							<div class="form-group">
								<label style="width: 46%;">Aantal</label> <input type="text"
									class=""> <input type="radio" value="">
							</div>
						</div>

						<div class="panel panel-default">
							<span class="label label-info">view</span> <label></label>
							<div class="form-group">
								<label style="width: 46%;">Per Periode(dagen)</label> <input
									type="text" class=""> <input type="radio" value="">
							</div>
							<div class="form-group">
								<label style="width: 46%;">Aantal</label> <input type="text"
									class=""> <input type="radio" value="">
							</div>
						</div>

					</div>
				</div>
			</div>


			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 100.3333%; height: 316px">
					<span class="label label-info">Acties</span>
					<div class="panel-body" style="width: 100.3333%; height: 316px">

						<div class="panel panel-default">
							<span class="label label-info">Rapporten</span> <label></label>
							<div class="form-group">
								<label style="width: 46%;">Per Periode(dagen)</label> <input
									type="text" class=""> <input type="radio" value="">
							</div>
							<div class="form-group">
								<label style="width: 46%;">Aantal</label> <input type="text"
									class=""> <input type="radio" value="">
							</div>
						</div>

						<div class="panel panel-default">
							<span class="label label-info">View</span> <label></label>
							<div class="form-group">
								<label style="width: 46%;">Per Periode (dagen)</label> <input
									type="text" class="" id="usr"> <input type="radio"
									value="">
							</div>
							<div class="form-group">
								<label style="width: 46%;">Aantal</label> <input type="text"
									class="" id="usr"> <input type="radio" value="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading">
		<span class="label label-primary">ReportType</span>
	</div>
	<div class="panel-body">

		<div class="col-md-6">
			<div class="panel panel-default"
				style="width: 80.3333%; height: 144px">
				<span class="label label-info">ReportType</span>
				<div class="panel-body" style="width: 80.3333%; height: 144px">
					<div class="radio">
						<label style="width: 80%;">Short Report</label> <input
							type="radio" value="">
					</div>
					<div class="radio">
						<label style="width: 80%;">Long Report</label> <input type="radio"
							value="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

