<div class="panel panel-default">
	<div class="panel-heading">
		<span class="label label-primary">Signaleringen</span>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 170.3333%; height: 405px">
					<div class="panel-body" style="width: 102.3333%; height: 405px">

						<div class="container">
							<table>
								<thead>
									<tr>
										<th></th>
										<th>mild</th>
										<th>middel</th>
										<th>belangrijk</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td scope="row" width="10%">POP</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">FB</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">FV</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">OB</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">PG</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">CV</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">CV Passport</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">Einde Inzet</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">JUBILEE</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">BIRTHDATE</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">PR</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">SEI</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="10%">KG</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="26%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="27%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="25%">
											<div class="">
												<label>weekdagen</label>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>