<div class="panel panel-default">
	<div class="panel-heading">
		<span class="label label-primary">Update Temporary Unit Manager</span>
	</div>
	<div class="panel-body">

		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default"
					style="width: 170.3333%; height: 230px">
					<div class="panel-body" style="width: 100.3333%; height: 230px">

						<div class="container">
							<table>
								<tbody>
									<tr>
										<td scope="row" width="3%">Unit</td>
										<td width="1%">
											<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle"
													type="button" data-toggle="dropdown">Dropdown button
													<span class="caret"></span>
												</button>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="3%">Temporary Unit Manager</td>
										<td width="1%">
											<div class="">
												<input type="text" class="">
											</div>
										</td>
										<td width="10%">
											<div class="button">
												<button type="button" class="btn btn-danger">Verwijderen</button>
											</div>
										</td>
									</tr>
									<tr>
										<td scope="row" width="3%">Update Unit Manager</td>
										<td width="1%">
											<div class="dropdown">
												<button class="btn btn-primary dropdown-toggle"
													type="button" data-toggle="dropdown">Dropdown button
													<span class="caret"></span>
												</button>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>