<div class="panel panel-default">

	<div class="panel-body">

		<div class="row">
			 <div class="col-md-6">			
 					<div class="panel panel-default" style="width: 115%; height: 280px">
					<span class="label label-info">Planning</span>
					<div class="panel-body" style="width: 115%; height: 280px">
						<div class="container">
							<table style="height: 70%; width:70%;">
								<tbody style="height: 70%">
									<tr>
										<th style="width:2%"></th>
										<th style="width:3%">Laatste</th>
										<th style="width:41%">Planning</th>
									</tr>
									<tr height="35">
										<td scope="row" width="1%">PG</td>
										<td width="1%">
											<div class="">
												<output></output>
											</div>
										</td>
										<td width="20%"><ng2-datepicker [options]="options"
												[(ngModel)]="datePG"></ng2-datepicker></td>
									</tr>
									<tr height="35">
										<td scope="row" width="1%">FV</td>
										<td width="1%">
											<div class="">
												<output></output>
											</div>
										</td>
										<td width="20%"><ng2-datepicker [options]="options"
												[(ngModel)]="dateFV"></ng2-datepicker></td>
									</tr>
									<tr height="35">
										<td scope="row" width="1%">PR</td>
										<td width="1%">
											<div class="">
												<output></output>
											</div>
										</td>
										<td width="20%"><ng2-datepicker [options]="options"
												[(ngModel)]="datePR"></ng2-datepicker></td>
									</tr>
									<tr height="35">
										<td scope="row" width="1%">KG</td>
										<td width="1%"><ng2-datepicker [options]="options"
												[(ngModel)]="dateKG"></ng2-datepicker></td>
										<td width="20%"><ng2-datepicker [options]="options"
												[(ngModel)]="dateKg"></ng2-datepicker></td>
									</tr>
									<tr height="35">
										<td scope="row" width="1%" height="30">CV Update</td>
										<td width="1%" height="30">
											<div class="">
												<output></output>
											</div>
										</td>

									</tr>
									<tr height="35">
										<td scope="row" width="1%" height="30">Vrij Veld</td>
										<td width="1%" height="30"><ng2-datepicker
												[options]="options" [(ngModel)]="dateVrijVeld"></ng2-datepicker>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			 </div> 

		
   <div class="col-md-6">
				<div class="panel panel-default" style="width: 90%; float: right; height: 151px">
					<span class="label label-info">Vakantieplanning</span>
					<div class="panel-body" style="width: 100%; height: 151px">
						
							<table class="table table-hover">
								<thead>
									<tr>
										<th style="width:4%">startdatum</th>
										<th style="width:4%">einddatum</th>
										<th style="width:3%">Goedgekeurd</th>
									</tr>
								</thead>
								<tbody>
									<tr height="35">
										<td></td>
										<td></td>
										<td></td>
									</tr>

								</tbody>
							</table>
					
					</div>
				</div>
				</div>
			
		</div>
	 </div> 
</div>


