<div class='panel panel-primary'>
    
    <div class='panel-heading'>
    {{ settings }}
    </div>
    
    <div class='container-fluid'>
              <ul class='nav nav-tabs'>
                  <li class="active"><a data-toggle="tab" routerLink="/algemene">Algemene Settings</a></li>
                  <li><a routerLink="/signaleringen">Signaleringen</a></li>
                  <li><a routerLink="/temporaryUnitmanager">Temporary Unit manager</a></li>                    
              </ul>
        
    </div>
      <div class='container'>
          <router-outlet></router-outlet>
      </div> 

</div>