<b style="color:black;font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: x-large">
    {{employee.Fname}} &nbsp; {{employee.Lname}}
</b>

<select   (input) ="OnInput($event)" >
  <option *ngFor="let e of employees" value="{{e.Id}}" >{{e.Fname}}
  </option>
</select>

<div class="row" style="border: 1px solid #F0F0F0">
    
<div class="col-md-10" style="border: 1px solid #F0F0F0" >
                
                    <!-- Nav tabs -->
    <tabset [pills]="true">
        <tab title="Algemeen" class="tabDesign">
          <div class="tab-content">  <algemeen [employe]= "employee"></algemeen></div>
        </tab>
        <tab title="Inzet">
            <div class="tab-content"><inzet [employe] ="employee"></inzet></div>
        </tab>
        <tab title="Planning" >
            <div class="tab-content"> <planning></planning></div>
        </tab>
        <tab title="SEI-Dialoog" >
            <div class="tab-content"> Content of the SEI-Dialoog Tab</div>
        </tab>
        <tab title="GMI" >
             <div class="tab-content">Content of the GMI Tab</div>
        </tab>
        <tab title="Gesprekken" >
            <div class="tab-content"> Content of the Gesprekken Tab</div>
        </tab>
        <tab title="Acties" >
            <div class="tab-content"> Content of the Acties Tab</div>
        </tab>
        <tab title="Document" >
             <div class="tab-content">Content of the Document Tab</div>
        </tab>
    </tabset>           
 </div>

 <div class="col-md-2" style="border: 1px solid black ; font-family: Arial, Helvetica, sans-serif">
     <img src="" class="rounded mx-auto d-block " alt="Responsive image">
    <h5>{{employee.Number}}</h5>
    <h5>{{employee.Fname}}</h5>
    <h5>{{employee.Lname}}</h5>
    <h5>{{employee.TelphoneNo}}</h5>
    <h5>{{employee.DOB | date}}</h5>

 </div>

</div>

               

