
.table-hover thead tr:hover th, .table-hover tbody tr:hover td {
    background-color: lightgray;
}
thead{
    background-color: 			black;
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
    
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

th, td {
    padding: 15px;
}
 .panel-heading {
  background-color: #A93226;
  height: 50%;
}
.container{
     margin-top: 60px;
}