<div class="container">
	<nav class="navbar navbar-default">
		<div class='container-fluid'>		
			<a class='navbar-brand' style="color: tomato;font-family: Arial, Helvetica, sans-serif;font-weight: bold">{{pageTitle}}</a>
				
			<ul class='nav navbar-nav'>
				<li><a routerLink="/home"><b style="color: black">Home Page</b></a></li>
				<li><a routerLink="/settings"><b style="color: black">Instellingen</b></a></li>
					
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/admin"><span
						class="glyphicon glyphicon-user"></span><b style="color: black">Admin</b></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
						<b style="color: black">Sign Out</b></a></li>
			</ul>

		</div>
	</nav>
</div>