<div>
	<nav class='navbar navbar-primary'>
		<div class='container-fluid'>

			<a class='navbar-brand'>{{pageTitle}}</a>

			<ul class='nav navbar-nav'>
				<li><a routerLink="/home">Home Page</a></li>
				<li><a routerLink="/settings">Instellingen</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a routerLink="/admin"><span
						class="glyphicon glyphicon-user"></span> Admin</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
						Sign Out</a></li>
			</ul>

		</div>
	</nav>
</div>